.vscode/**
.vscode-test/**
out/**
src/**
.gitignore
.prettierrc
tsconfig.json
webpack.config.js
vsc-extension-quickstart.md
eslint.config.mjs
**/*.map
**/*.ts
node_modules/**
!node_modules/fast-levenshtein/**
!node_modules/typescript/**
.git/**
.github/**
*.vsix
*.log
.DS_Store
Thumbs.db
